@import "~/.cache/wal/colors-rofi-dark"

* {
    text-color: @foreground;
    background-color: @background;
	font: "JetBrainsMono Nerd Font 12";
}

window {
    border: 0px;
    width: 300px;
    padding: 25px;
    y-offset: -20px;
    location: center;
    border-radius: 0px;
    border-color: @foreground;
}

entry {
    expand: true;
    text-color: @foreground;
}
